
tenacity==8.2.3
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-intel==2.13.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0

torch==1.12.1
torchtuples==0.2.2

tzdata==2023.3
tzlocal==4.3.1

validators==0.22.0

webencodings==0.5.1

wincertstore==0.2

zict==2.1.0
zstandard==0.19.0
